@{
    ViewData["Title"] = "Our Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">Our Business?</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-heading">Why do this Business?</h2>
                    <p>We say a niche in the market!</p>
                    <p>No one was brining people and tasks together in a way that helped the community, so we did!</p>
                    <p>We decided to help you find work or get tasks done and this is our Mission!</p>
                </div>
            </div>
        </div>
    </div>
</div>
