@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">Frequently Asked Questions</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading">What is a buy?</h3>
                    <p>A bid is where you set the price for a particular task, the amount is set by you and people can</p>
                    <p>accept the bid or not, totally up to you!</p>
                    <p>Probably the most used form of payment</p>
                    <h3 class="section-heading">What is a bid?</h3>
                    <p>You list the task and people bid on it!</p>
                    <p>Basically, you place the power of the price in the hands of the people with the skills</p>
                    <p>They offer the price they will complete the task at, you can choose or reject</p>
                    <h3 class="section-heading">What is a bonus?</h3>
                    <p>Similiar to buy, except you have people compete agaisnt each other</p>
                    <p>A person sees the task as still open and can complete the task and notify you once completed</p>
                    <p>If they are the first they get the bonus</p>
                </div>
            </div>
        </div>
    </div>
</div>
