@{
    ViewData["Title"] = "Guidelines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">Guidelines</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading">Introduction</h3>
                    <p>We are passionate about you, your task or your skills and your need work done.</p>
                    <p>As a result, we have a few (not too many) guidelines that we would like you to follow.</p>
                    <p>Not many just a few, please have a read and any feedback would be appreciated</p>
                    <p>One more thing, we take breaches very seriously! SO, DON’T</p>
                    <h3 class="section-heading">1. Sharing private information</h3>
                    <p>To maintain the integrity and authenticity our members can only share private contact information </p>
                    <p>once the task is offered and completed</p>
                    <h3 class="section-heading">2. Unacceptable behaviours</h3>
                    <p>This is a No No and is defined as any behaviour that a reasonable person would not tolerate. So </p>
                    <p>courtesy, mutual respect and seeing things from another person's perspective is essential.</p>
                    <h3 class="section-heading">3. Unsupported practices</h3>
                    <p>We bring communities, people, and tasks together however this requires your support and </p>
                    <p>cooperation. This means nothing illegal and we will fully cooperate with Police or other law </p>
                    <p>enforcement to bring illegal activities to their attention.</p>
                </div>
            </div>
        </div>
    </div>
</div>
