@{
    ViewData["Title"] = "How";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">How it works?</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-heading">The deal</h2>
                    <p>It works very simply, you either post a task which you can allow people to bid, buy or bonus on, simple!</p>
                    <p>What does that mean?</p>
                    <p>If you have a task that needs to be done you can set it to bid, this means people compete to do the task</p>
                    <p>for the lowest amount amount</p>
                    <p>OR, they can buy, you set a price and the person then 'buys' the task with their skill and ability - you decide</p>
                    <p>OR, you can set a time and the first person to complete the task gets the bonus, a preset amount you decided on.</p>
                </div>
            </div>
        </div>
    </div>
</div>
