@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">Privacy</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading">Privacy policy</h3>
                    <p>TaskMaster manages the information that we collect from you in accordance with all applicable privacy legislation. In this Policy, TaskMaster means</p>
                    <p>(i) where you reside in any country in the European Economic Area, TaskMaster UK Limited and</p>
                    <p>(ii) where you reside anywhere outside the European Economic Area: TaskMaster Pty Limited, an Australian company. Company details for each of the</p>
                    <p>TaskMaster companies is set out in the Contact Us section below.</p>
                    <p>This Privacy Policy describes how TaskMaster handles your personal data, and sets out the rights and obligations that both you and TaskMaster have in</p>
                    <p>relation to your personal data. Country specific terms in Appendix A shall also apply to this Privacy Policy.</p>
                    <p>By accessing TaskMaster or our mobile application (together, the "Services") you accept and agree to the terms and conditions of TaskMaster's user</p>
                    <p>agreement ("User Agreement"), and acknowledge that your personal data may be collected, used and disclosed in accordance with this Privacy Policy.</p>
                    <p>Except for any terms that are defined in this Privacy Policy then all other defined terms shall have the same meaning as that defined in the User</p>
                    <p>Agreement. Note that under TaskMaster's terms and conditions of use, you must not use the Services if you are under 18 years old.</p>
                    <p>TaskMaster may, from time to time, modify this Privacy Policy (and update the web page on which it is displayed). TaskMaster will send notification</p>
                    <p>of any material modification to your TaskMaster account and/or your registered email address. You should check that account regularly.</p>
                    <h3 class="section-heading">Collection of Your Personal Data</h3>
                    <p>TaskMaster collects personal data when you pre-register with TaskMaster. This includes your full name, email address and location.</p>
                    <p>In circumstances where the below information is not provided to us we may be unable to provide our services to you and carry out our contractual obligations with you.</p>
                    <h3 class="section-heading">Information we collect directly from you</h3>
                    <p>TaskMaster collects personal data when you register with TaskMaster. This includes:</p>
                    <p>your name, email address;</p>
                    <p>preferences, skillset, interests and other information relevant for your fitness for tasks.</p>
                    <p>If your personal details change, it is your responsibility to update your TaskMaster account with those </p>
                    <p>changes, so that we can keep our records complete, accurate and up to date.</p>
                </div>
            </div>
        </div>
    </div>
</div>
