@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-container">
    <div class="hero text-center col-12">
        <h1 class="hero-header display-3">Find your next _____.</h1>
    </div>

    <div class="ap-mission">
        <div class="ap-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-heading">Our Mission</h2>
                    <p>
                        Taskmaster is a two-way matchmaking system connecting both workers and short term employers. Whilst our team maintains its sophisticantion and complexity, 
                        users need not worry as we promise a simple, accessible and flexible experience. With a vast and diverse range of opportunites, Taskmaster provides a seemless
                        middleman platform to help ease the burden of connectivity. We believe in the future potential of a gig style economy as hence, we want to do our part for society.
                        Many of us often posses skills that we may never use in a professional sense. By harnessing those skills to help those in need, users are rewarded for their efforts.
                        Similarly, those in need of a skilled individual (without the hefty price tag of professionals) may save time, effort and money. 
                </div>
            </div>
        </div>
    </div>

    <div class="ap-team">
        <h2 class="section-heading">The Team</h2>
        <div class="ap-container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Henry Han</h4>
                    <h6 class="team-role">Project Manager, UX Developer</h6>
                </div>
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Phillip Bawden</h4>
                    <h6 class="team-role">Software Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Peter McAlister</h4>
                    <h6 class="team-role">Scrum Master, UX Developer</h6>
                </div>
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Louis Henry</h4>
                    <h6 class="team-role">UX Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Mehdi Ebrahimi</h4>
                    <h6 class="team-role">Software Developer</h6>
                </div>
                <div class="col-md-6 col-12">
                    <h4 class="team-member">Jenny Caruso</h4>
                    <h6 class="team-role">UX Developer</h6>
                </div>
            </div>
        </div>
    </div>

</div>
