@model Taskmaster.ViewModels.PasswordChangeViewModel

@{
    ViewData["Title"] = "Password settings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1 class="action">Password Settings</h1>

<div class="user-profile-edit">
    <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form class="form-horizontal" method="post" role="form">
            <div class="form-group">

                <label class="col-md-3 control-label">Current Password:</label>
                <div class="col-md-8">
                    <input asp-for="CurrentPassword" class="form-control">
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">New Password:</label>
                <div class="col-md-8">
                    <input asp-for="NewPassword" class="form-control">
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirm password:</label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" class="form-control">

                </div>
                
            </div>
            <div asp-validation-summary="All" class="text-danger">
                
            </div>
            <div class="form-group">
                 <input type="submit" class="btn btn-warning" value="Reset Password">
                 <span></span>

            </div>
        </form>
    </div>
</div>

