
@{
    ViewData["Title"] = "Change Password Confirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1 class="action">Password Changed</h1>
<div class="user-profile-edit">
    <h4>
        Your password is successfully changed.
    </h4>
</div>