@model Taskmaster.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

    <div class="login-container">
        <a asp-action="Login" asp-controller="Secure"><i class="fa fa-arrow-left" aria-hidden="true" id="btn-goback"></i></a>
        <form id="secure" method="post" class="form-box">
            <div asp-validation-summary="All" class="text-danger" style="display: none"></div>
            <div id="secureLogin" class="input-group form-log">
                <input asp-for="Email" class="input-field" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Password" class="input-field" placeholder="New Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="ConfirmPassword" class="input-field" placeholder="Confirm New Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input type="submit" value="Reset Password" class="submit-btn" />
            </div>
        </form>
    </div>